<div class="landing-page-container">
  <div class="section-intro">
    <div class="section-intro-text">
      <h1>ADMAP</h1>
      <h3>UC Irvine Alzheimer's Disease Multimodal Atlasing Project</h3>
      <a
        href="javascript:void(0)"
        (click)="navigateToSearch('dataset')">
        {{datasetCount}} datasets
      </a>
    </div>
    <div>
      <texera-browse-section
        [entities]="topLovedDatasets"
        sectionTitle="Top Loved Datasets"
        [currentUid]="currentUid">
      </texera-browse-section>
    </div>
  </div>
</div>
