<div class="landing-page-container">
  <div class="section-intro">
    <div class="section-intro-text">
      <h1>ADMAP</h1>
      <p>
        UC Irvine Alzheimer's Disease Multimodal Atlasing Project
        <a
          href="javascript:void(0)"
          (click)="navigateToSearch('dataset')">
          {{datasetCount}} datasets
        </a>
      </p>
    </div>

    <img
      class="section-intro-img"
      src="../../../../../assets/svg/hub_icon.svg"
      alt="hub icon" />
  </div>

  <div>
    <texera-browse-section
      [entities]="topLovedDatasets"
      sectionTitle="Top Loved Datasets"
      [currentUid]="currentUid">
    </texera-browse-section>
  </div>
</div>
